main section:first-of-type {
	padding-bottom: 350px;
}

main section li {
	width:150px;
	height: 200px;
	position: absolute;
	left: 200px;
}

main section li:first-of-type {
	margin-top: 50px;
	margin-left: 50px;
	z-index: 2;
}

main section li:nth-of-type(2) {
	margin-top: 100px;
	margin-left: 100px;
	z-index: 3;
}

main section li:last-of-type {
	z-index: 1;
}